.black h5 {
    font-weight: normal;
    margin-bottom: 6px !important;
    margin-top: 10px !important;
}

.black h4 {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: normal;
}

.black {
    @media(max-width:992px) {
        flex-direction: column;
        justify-self: start;
        align-items: start;
    }
}
.black>div {
    @media(max-width:992px) {
        text-align: left;
    }
}

.footerfooter {
    @media(max-width:767px) {
        flex-direction: column !important;
        text-align: start;
    }
}