.register .left {
    @media(max-width:992px) {
        display: none !important;
    }
}
.register .right {
    @media(max-width:992px) {
        width: 100% !important;
    }
}
.register input {
    @media(max-width:992px){
        width: 150% !important;
    }
}
.register button {
    width: 100%;
}