.bigscreen {
    @media(max-width:992px) {
        display: none !important;
    }
}
.smallscreen {
    @media(min-width:993px) {
        display: none !important;
    }
}
.addition {
    top: -20px;
    right: 20px;
}
.addition {
    @media (max-width:992px) {
        display: none !important;
    }
}

